body {
  background-color: darkblue;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}

#heading{
  /* margin: auto; */
  text-align: center;
  background-color: aquamarine;
}

main {
  margin: 0 auto;
}

#mainTable {
  margin: 40px auto;
  color: white;
  background-color: black;
  width: 1200px;
  height: 800px;
  padding: 20px;
  border: solid 2px red;
}



th, td {
  border: solid 2px red;
  text-align: center;
}

td>input {
  height: 100%;
  width: 100%;
}

footer {
  width: 1200px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}


/* QUESTION STYLING */
#questionDiv {
  position: absolute;
  background-color: aqua;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width:1200px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

#qCategory {
  height: 20%;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}
#qQuestion{
  height: 30%;
  text-align: center;
}

#qAnswers {
  height: 50%;
}

#qTable{
  background-color: blueviolet;
  width: 1200px;
  height: 350px;
}

#questionDiv{
  visibility: hidden;
}
