body {
  background-image: url('https://i.ibb.co/6tWj14C/Screen-Shot-2022-09-20-at-8-27-10-PM.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}

#heading{
  /* margin: auto; */
  text-align: center;
  background-color: aquamarine;
}

main {
  margin: 0 auto;
  background-color: rgb(48, 0, 93, .96);
  width: 1200px;
  border-radius: 50px;
}

#mainTable {
  margin: 40px auto;
  color: white;
  background-color: black;
  width: 1000px;
  height: 800px;
  padding: 20px;
  border: solid 4px lime;
  border-radius: 50px;
}

th, td {
  border: solid 2px lime;
  text-align: center;
}

td>input {
  height: 100%;
  width: 100%;
  font-size: 25px;
  background-color: black;
  color:white;
}
.mainBtn:hover{
  background-image: url('https://i.ibb.co/D8WrkHT/petro-kosariekov-portal-gun-rick-and-morty2-2.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

footer {
  width: 1200px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#footDiv {
  font-size: 30px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
}

#footDiv>p>a, #footDiv>p {
  text-decoration: none;
  color: white
}

#footDiv>p>a:hover {
  color: lime;
  text-shadow: 0 0 5px lime;
}

/* QUESTION STYLING */
#questionDiv {
  position: absolute;
  background-color: aqua;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width:1200px;
  height: 800px;
  display: flex;
  flex-direction: column;
}

#qCategory {
  height: 20%;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}
#qQuestion{
  height: 30%;
  text-align: center;
}

#qAnswers {
  height: 50%;
}

#qTable{
  background-color: blueviolet;
  width: 1200px;
  height: 350px;
}

#questionDiv{
  visibility: hidden;
}

.answerTd>input:hover {
  background-color: pink;
}

.answerBttn:hover{
  background-color: pink;
}
